    body {
    Background-Image: url('../images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 

    background-color: rgb(85, 59, 230);
    color: rgb(255, 255, 255);
    font-family: Sans-Serif;
    line-height: 100px;
  }

  #MainHeader{
    background-color: rgb(0, 0, 0);
    float: None; 
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 60px;
  }

  ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }

  li {
    float: right; 
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }

  li:hover {
    background-color: crimson;
  }



  /* :root{
    --red-hue: 360;
    --blue-hue: 240;
    --green-hue: 120;
    --main-hue : var(--red-hue);
  } */
  
  /* .container{
    flex: 1;
    background:hsl(var(--main-hue), 100%, 75%);
    padding: 4rem;
  } */

  /* document.body.style.backgroundImage =  "url('images/2.jpg')";
 

  document.body.style.setProperty('background-image', "url('images/2.jpg')"); */
 
