    body {
    Background-Image: url('../images/1.jpg');
    background-repeat: repeat;

    background-color: rgb(85, 59, 230);
    color: rgb(255, 255, 255);
    font-family: Sans-Serif;
    line-height: 100px;
  }

  /* :root{
    --red-hue: 360;
    --blue-hue: 240;
    --green-hue: 120;
    --main-hue : var(--red-hue);
  } */
  
  /* .container{
    flex: 1;
    background:hsl(var(--main-hue), 100%, 75%);
    padding: 4rem;
  } */

 
